[report]
omit=
    */python?.?/*
    *site-packages/*
    *site-packages/django-nose/*
    *pic/__init__.py*
    *tests/*
    *pimppic/*
    *pic/migrations/*

exclude_lines =
    make_shell_context

[html]
directory = coverage_html